In [1]:
import pandas as pd

### 1. Gather Data

In [193]:
train_data = pd.read_csv(r'C:\Users\padmaraj.bhat\OneDrive - Accenture\Downloads\TrainData_PA.csv')
train_data_before_clean = train_data.copy()

### 2. Assess Data : Inspecting Data for Quality and Tidiness Issues
#### 2.1 Quality Issues : Issues with content - missing, duplicate or incorrect data. a.k.a Dirty data 
##### 2.1.a Completeness : Are there any rows, columns or cells missing ?
* Zipcode, county, address & property_type has the missing values
##### 2.1.b Validity : Does the data comply to the data schema like duplicate patient id or zip code being < 5 digits or float data type.
* zipcode is float type
* longitude and lattitude has to be represented in 3 dimentional space (x,y,z). So that digits can be used as the numerical value.
##### 2.1.c Accuracy : Wrong data that is valid. like hieght = 300 inches; it still complies to the standard i.e. inches but data is in accurate.
* Census_MedianIncome = 0 may be an outlier
##### 2.1.d Consistency : Both valid and accurate but inconsistent. state = california and CA
#### 2.2 Tidiness Issues: Issues with structure - untidy or messy data
###### 2.2.a Each observation is a row
###### 2.2.b Each variable is a column
* State is an obsolete column as it has only one value
* property_type is categorical
* garage, pool, fireplace, patio are binary
* time is ordinal (2016.25, 2015.75, 2015.5, 2015.25)
###### 2.2.c Each observational unit is a table

In [3]:
train_data

,county,city,zipcode,address,state,rent,latitude,longitude,cemetery_dist_miles,nationalhighway_miles,...,lotsize,Census_MedianIncome,CollegeGrads,WhiteCollar,Schools,Unemployment,EmploymentDiversity,Census_Vacancy,Crime_Rate,HomePrice
0,NaN,WEXFORD,NaN,266 Clematis Dr Allegheny County,PA,2400,40.618200,-80.077600,1.019586,0.206222,...,4086.388045,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
1,NaN,WHITEHALL,NaN,2310 N 1st Ave Lehigh County,PA,995,40.649906,-75.478940,1.019586,0.206222,...,2247.513425,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
2,NaN,WHITEHALL,NaN,3338 St Stephens Ln Lehigh County,PA,1740,40.646282,-75.510056,1.019586,0.206222,...,3109.741302,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
3,NaN,WAYNESBORO,NaN,97 W Main St Franklin County,PA,675,39.756992,-77.579704,1.019586,0.206222,...,2349.673126,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
4,NaN,QUAKERTOWN,NaN,200 E Broad St Bucks County,PA,1300,40.441177,-75.332540,1.019586,0.206222,...,2043.194023,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
5,NaN,WAYNESBORO,NaN,407 Viewpoint Way Franklin County,PA,1025,39.766594,-77.582490,1.019586,0.206222,...,2635.720289,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
6,NaN,WAYNESBORO,NaN,403 Viewpoint Way Franklin County,PA,1025,39.766580,-77.582450,1.019586,0.206222,...,2635.720289,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
7,NaN,WAYNESBORO,NaN,240 Crown Ct Franklin County,PA,1025,39.759663,-77.575090,1.019586,0.206222,...,2635.720289,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
8,NaN,WAYNESBORO,NaN,101 S Potomac St Franklin County,PA,795,39.755530,-77.581154,1.019586,0.206222,...,2451.832827,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
9,NaN,UPPER DARBY,NaN,446 Woodcliffe Rd Delaware County,PA,925,39.958010,-75.264300,1.019586,0.206222,...,2051.366799,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
10,NaN,ROYERSFORD,NaN,408 Lakeview Dr Montgomery County,PA,1355,40.197796,-75.531235,1.019586,0.206222,...,2502.912678,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
11,NaN,PERKASIE,NaN,802 Orangewood Ct Bucks County,PA,1595,40.355476,-75.274410,1.019586,0.206222,...,3185.339481,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
12,NaN,WEXFORD,NaN,9000 Christopher Wren Dr Allegheny County,PA,1600,40.633537,-80.067280,1.019586,0.206222,...,3148.561989,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
13,NaN,PERKASIE,NaN,601 Orangewood Ct Bucks County,PA,1885,40.356300,-75.273850,1.019586,0.206222,...,3806.470464,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
14,NaN,WEXFORD,NaN,155 Laurel Crest Dr Allegheny County,PA,2000,40.620857,-80.077070,1.019586,0.206222,...,4086.388045,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
15,NaN,WAYNESBORO,NaN,37 E Main St #2 Franklin County,PA,595,39.755363,-77.576904,1.019586,0.206222,...,1838.874620,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
16,NaN,WAYNESBORO,NaN,252 W 2nd St Franklin County,PA,745,39.757430,-77.585020,1.019586,0.206222,...,1965.552650,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
17,NaN,WAYNESBORO,NaN,101 Green St Franklin County,PA,995,39.749794,-77.586940,1.019586,0.206222,...,2901.335512,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
18,NaN,WAYNESBORO,NaN,101 S Potomac St Franklin County,PA,895,39.755530,-77.581154,1.019586,0.206222,...,2553.992528,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
19,NaN,PERKASIE,NaN,514 Cherrywood Ct Bucks County,PA,1885,40.355534,-75.275080,1.019586,0.206222,...,3806.470464,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
20,NaN,WHITEHALL,NaN,5 Jordan Dr #1 Lehigh County,PA,889,40.620010,-75.462550,1.019586,0.206222,...,1287.212234,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
21,NaN,PERKASIE,NaN,208 Dean Dr Bucks County,PA,1000,40.379680,-75.200160,1.019586,0.206222,...,2247.513425,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
22,NaN,WEXFORD,NaN,126 Laurel Crest Dr Allegheny County,PA,1700,40.621460,-80.077500,1.019586,0.206222,...,3269.110436,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
23,NaN,WAYNESBORO,NaN,391 Viewpoint Way Franklin County,PA,1025,39.767002,-77.582580,1.019586,0.206222,...,2635.720289,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
24,NaN,WEXFORD,NaN,123 Laurel Crest Dr Allegheny County,PA,1875,40.619740,-80.076840,1.019586,0.206222,...,4086.388045,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
25,NaN,WHITEHALL,NaN,5450 Pennsylvania St Lehigh County,PA,1550,40.681650,-75.518750,1.019586,0.206222,...,3630.755778,54476.09,21.0,66.57,48.3,5.10,3.48,3.42,2.400000,158051
26,ADAMS,GETTYSBURG,17325.0,438 Side Apt Baltimore St Adams County,PA,625,39.824860,-77.230730,1.019586,0.206222,...,919.437310,56656.34,17.0,57.03,62.7,4.00,3.53,2.24,3.800000,158051
27,ADAMS,NEW OXFORD,17350.0,this property Adams County,PA,1195,39.861755,-77.069725,1.019586,0.206222,...,2288.377305,56228.50,10.0,45.26,63.9,4.00,3.27,1.61,1.800000,158051
28,ADAMS,NEW OXFORD,17350.0,4290 CARLISLE PIKE,PA,1195,39.900276,-77.044827,5.435821,0.006502,...,2872.730796,56228.50,10.0,45.26,63.9,4.00,3.27,1.61,1.800000,166560
29,ADAMS,GETTYSBURG,17325.0,NaN,PA,750,30.438256,-84.280733,1.019586,0.206222,...,1736.714919,56656.34,17.0,57.03,62.7,4.00,3.53,2.24,3.800000,158051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18173,YORK,HANOVER,17331.0,114 W ELM AVE,PA,1250,39.809623,-76.992310,1.497764,0.081096,...,7889.666667,58604.63,13.0,54.77,64.1,4.50,3.47,1.35,2.000000,143059
18174,YORK,YORK,17406.0,240 HUNTER CREEK DR,PA,1350,40.057996,-76.771375,2.331539,0.872504,...,10577.333330,59710.22,16.0,58.73,63.4,4.50,3.49,1.32,5.481429,191975
18175,YORK,DELTA,17314.0,311 MAIN ST,PA,1950,39.724325,-76.332646,0.455354,0.589793,...,2872.730796,56089.04,6.0,49.03,69.8,4.50,3.61,3.60,0.000000,99072
18176,YORK,HANOVER,17331.0,Address Not Disclosed,PA,1300,39.797024,-76.982510,1.019586,0.206222,...,6677.158066,58604.63,13.0,54.77,64.1,4.50,3.47,1.35,2.000000,158051
18177,YORK,YORK,17402.0,2 Bedroom,PA,1080,40.079582,-77.169950,1.019586,0.206222,...,4462.335745,60902.49,20.0,68.56,60.2,4.50,3.50,1.20,3.720617,158051
18178,YORK,SPRING GROVE,17362.0,236 COURTNEY CT,PA,2200,39.890008,-76.882307,2.166455,1.078304,...,2872.730796,70557.94,13.0,53.55,75.0,4.50,3.39,0.65,0.350000,287116
18179,YORK,YORK,17401.0,141 W MARKET ST,PA,895,39.961883,-76.731095,1.079492,0.026770,...,7111.000000,23151.17,10.0,58.98,7.7,4.00,3.45,18.86,25.902789,158051
18180,YORK,YORK,17406.0,4478 E PROSPECT RD,PA,1850,39.968196,-76.590951,3.092138,2.624337,...,2872.730796,59710.22,16.0,58.73,63.4,4.50,3.49,1.32,5.481429,99947
18181,YORK,YORK,17403.0,208 ARCH ST,PA,850,39.969291,-76.726319,0.699500,0.215116,...,1133.333333,21329.00,7.0,45.70,23.3,3.99,3.25,17.38,10.495354,37632
18182,YORK,MANCHESTER,17345.0,1015 BOWERS BRIDGE RD,PA,1400,40.102044,-76.744303,3.156183,1.033319,...,2872.730796,58845.15,11.0,54.19,50.4,4.50,3.30,1.05,6.200000,164568
18183,YORK,YORK,17401.0,709 CLEVELAND AVE,PA,1650,39.953045,-76.723901,1.099535,0.033848,...,1788.333333,24459.78,5.0,50.90,21.8,4.00,3.33,10.05,25.902789,44082
18184,YORK,RED LION,17356.0,409 PAULINE DR,PA,1650,39.931848,-76.613762,1.281887,2.178355,...,17394.333330,56388.20,15.0,60.70,69.1,4.50,3.40,0.78,5.481429,168642
18185,YORK,YORK,17403.0,119 STANLEY PL,PA,525,39.965295,-76.713325,1.261783,0.159590,...,739.666667,30662.90,4.0,38.58,23.5,4.00,3.30,5.72,10.495354,42719
18186,YORK,HANOVER,17331.0,886 BROADWAY,PA,1300,39.818144,-76.975363,1.372622,0.988690,...,10798.000000,58604.63,13.0,54.77,64.1,4.50,3.47,1.35,2.000000,126075
18187,YORK,DELTA,17314.0,"1098,Orchard Rd,",PA,1550,39.736090,-76.256282,1.019586,0.206222,...,2549.906140,56089.04,6.0,49.03,69.8,4.50,3.61,3.60,0.000000,158051
18188,YORK,YORK,17408.0,"1878,Kenneth Rd,Shiloh",PA,1135,39.979685,-76.777632,1.019586,0.206222,...,2353.759514,64019.04,17.0,61.54,56.4,4.50,3.52,0.38,3.720617,158051
18189,YORK,YORK,17404.0,1028 N DUKE ST,PA,950,39.977367,-76.731321,0.163087,0.110168,...,1760.000000,39894.83,5.0,35.43,25.8,3.99,3.36,4.30,10.495354,86438
18190,YORK,YORK,17403.0,654 DALLAS ST,PA,2200,39.958710,-76.708112,0.817127,0.159191,...,2044.333333,30662.90,4.0,38.58,23.5,4.00,3.30,5.72,10.495354,59259
18191,YORK,YORK,17403.0,"1201,Stonehaven Way,",PA,1650,39.940508,-76.745059,1.019586,0.206222,...,860.184684,47622.76,17.0,62.04,51.5,4.50,3.47,3.50,10.495354,158051
18192,YORK,YORK,17408.0,"1878,Kenneth Rd,Shiloh",PA,785,39.979669,-76.777654,1.019586,0.206222,...,1583.475368,64019.04,17.0,61.54,56.4,4.50,3.52,0.38,3.720617,158051
18193,YORK,YORK,17403.0,115 EDGAR ST,PA,795,39.963098,-76.718726,1.285192,0.154546,...,1854.333333,30399.00,3.0,36.13,8.6,4.00,3.20,3.96,10.495354,44680
18194,YORK,YORK,17404.0,1317 N GEORGE ST,PA,995,39.980898,-76.733721,0.102961,0.041139,...,6357.666667,39894.83,5.0,35.43,25.8,3.99,3.36,4.30,10.495354,158051
18195,YORK,YORK,17401.0,115 S WEST ST,PA,995,39.956024,-76.742116,0.993892,0.138884,...,1863.666667,30264.15,2.0,26.74,7.8,4.00,2.89,11.52,25.902789,67916
18196,YORK,YORK,17403.0,25 COLUMBIA AVE,PA,750,39.964412,-76.719005,1.207256,0.068537,...,1312.666667,17999.00,12.0,48.33,9.0,4.00,3.12,16.38,10.495354,36331
18197,YORK,YORK,17406.0,8430 Ln Place,PA,1600,38.973087,-94.576547,1.019586,0.206222,...,1430.235816,59710.22,16.0,58.73,63.4,4.50,3.49,1.32,5.481429,158051
18198,YORK,YORK,17403.0,2829 EXETER DR N,PA,1600,39.902444,-76.669175,1.328155,0.249626,...,13746.333330,47622.76,17.0,62.04,51.5,4.50,3.47,3.50,10.495354,155655
18199,YORK,YORK HAVEN,17370.0,"253,Garriston Rd,",PA,700,40.125853,-76.833373,1.019586,0.206222,...,6311.426336,63137.76,13.0,57.38,51.8,4.50,3.53,2.09,5.481429,158051
18200,YORK,YORK,17403.0,406 E KING ST,PA,675,39.963334,-76.718765,1.271439,0.142410,...,1455.000000,30399.00,3.0,36.13,8.6,4.00,3.20,3.96,10.495354,64438
18201,YORK,YORK,17401.0,752 S GEORGE ST,PA,900,39.952275,-76.723242,1.039703,0.005294,...,8935.000000,24459.78,5.0,50.90,21.8,4.00,3.33,10.05,25.902789,158051
18202,YORK,HANOVER,17331.0,6 ZACHARY DR,PA,1250,39.770746,-76.950987,1.722818,0.530978,...,2203.666667,58604.63,13.0,54.77,64.1,4.50,3.47,1.35,2.000000,135868

In [29]:
for c in train_data.columns:
    print(train_data[c].describe())
#time(2016.25), bed(18), bath(12), halfbath(12), property_type(categorical), garage(binary), yearbuilt(float),pool(binary)
#fireplace(bool), patio(bool),lotsize(1)?, Census_MedianIncome(0 & 198425.570000), Schools(99,1), Unemployment?, HomePrice(8628600)

count            18177
unique              61
top       PHILADELPHIA
freq              4970
Name: county, dtype: object
count            18203
unique             674
top       PHILADELPHIA
freq              4970
Name: city, dtype: object
count    18177.000000
mean     18030.505364
std       1482.025500
min      15001.000000
25%      17111.000000
50%      18944.000000
75%      19129.000000
max      19611.000000
Name: zipcode, dtype: float64
count                                    17496
unique                                   14579
top       Center City East Philadelphia County
freq                                        51
Name: address, dtype: object
count     18203
unique        1
top          PA
freq      18203
Name: state, dtype: object
count    18203.000000
mean      1601.734165
std        914.730775
min        385.000000
25%       1000.000000
50%       1400.000000
75%       1900.000000
max      16000.000000
Name: rent, dtype: float64
count    18203.000000
mean        40.087378
std          1.578798
min        -11.968575
25%         39.967467
50%         40.130577
75%         40.444644
max         61.218056
Name: latitude, dtype: float64
count    18203.000000
mean       -77.267575
std          5.905950
min       -149.900278
25%        -77.012524
50%        -75.477834
75%        -75.185723
max        -11.706829
Name: longitude, dtype: float64
count    18203.000000
mean         1.210770
std          0.936564
min          0.023038
25%          0.821590
50%          1.019586
75%          1.229043
max          9.747778
Name: cemetery_dist_miles, dtype: float64
count    18203.000000
mean         0.292568
std          0.363775
min          0.000035
25%          0.145526
50%          0.206222
75%          0.283572
max          5.861421
Name: nationalhighway_miles, dtype: float64
count    18203.000000
mean         1.041623
std          1.529849
min          0.000794
25%          0.470385
50%          0.629888
75%          0.862587
max         28.306430
Name: railline_miles, dtype: float64
count    18203.000000
mean         2.043848
std          3.122275
min          0.013197
25%          0.986498
50%          1.348776
75%          1.809722
max         61.349250
Name: starbucks_miles, dtype: float64
count    18203.000000
mean         3.522699
std          1.758302
min          0.118545
25%          2.719653
50%          3.326397
75%          3.864574
max         22.611844
Name: walmart_miles, dtype: float64
count    18203.000000
mean         2.270811
std          2.439700
min          0.041096
25%          1.180311
50%          1.584675
75%          2.223802
max         32.433629
Name: hospital_miles, dtype: float64
count    18203.000000
mean         0.351478
std          0.538380
min          0.000087
25%          0.170815
50%          0.229126
75%          0.300576
max         10.825859
Name: physician_dist_miles, dtype: float64
count    18203.000000
mean         0.708954
std          0.965186
min          0.000157
25%          0.361726
50%          0.472933
75%          0.612327
max         19.823016
Name: dentist_dist_miles, dtype: float64
count    18203.000000
mean         0.891707
std          1.065061
min          0.000157
25%          0.495559
50%          0.651244
75%          0.858610
max         22.761643
Name: opt_dist_miles, dtype: float64
count    18203.000000
mean        12.368730
std         17.399292
min          0.013511
25%          4.851441
50%          7.323725
75%         10.268145
max        141.184122
Name: vet_dist_miles, dtype: float64
count    18203.000000
mean         1.762844
std          2.154279
min          0.014231
25%          0.751314
50%          1.094678
75%          1.709571
max         35.603985
Name: farmers_miles, dtype: float64
count    18203.000000
mean      2015.577913
std          0.344428
min       2015.250000
25%       2015.250000
50%       2015.500000
75%       2015.750000
max       2016.250000
Name: time, dtype: float64
count    18203.000000
mean         2.766247
std          1.440967
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         18.000000
Name: bed, dtype: float64
count    18203.000000
mean         1.623743
std          0.855703
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         12.000000
Name: bath, dtype: float64
count    18203.000000
mean         1.027358
std          0.212040
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         12.000000
Name: halfbath, dtype: float64
count    18203.000000
mean      1536.611218
std        826.928419
min         35.000000
25%       1000.000000
50%       1342.000000
75%       1846.500000
max       5000.000000
Name: sqft, dtype: float64
count     15515
unique        5
top       Condo
freq       7418
Name: property_type, dtype: object
count    18203.000000
mean         0.292424
std          0.454889
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: garage, dtype: float64
count    18203.000000
mean      1959.078284
std         23.153752
min       1800.000000
25%       1960.000000
50%       1960.000000
75%       1960.000000
max       2016.000000
Name: yearbuilt, dtype: float64
count    18203.000000
mean         0.011262
std          0.105526
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: pool, dtype: float64
count    18203.000000
mean         0.207603
std          0.405602
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: fireplace, dtype: float64
count    18203.000000
mean         0.197055
std          0.397785
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: patio, dtype: float64
count    18203.000000
mean      3683.627327
std       3199.469032
min          1.000000
25%       1724.000000
50%       2872.730796
75%       4290.707448
max      19341.000000
Name: lotsize, dtype: float64
count     18203.000000
mean      57076.140365
std       23873.065621
min           0.000000
25%       41040.665000
50%       54476.090000
75%       70379.790000
max      198425.570000
Name: Census_MedianIncome, dtype: float64
count    18203.000000
mean        24.763198
std         15.978667
min          1.000000
25%         13.000000
50%         21.000000
75%         35.000000
max         72.000000
Name: CollegeGrads, dtype: float64
count    18203.000000
mean        67.419613
std         14.839700
min         15.090000
25%         56.200000
50%         66.570000
75%         79.340000
max         95.520000
Name: WhiteCollar, dtype: float64
count    18203.000000
mean        46.932605
std         26.840908
min          1.000000
25%         22.500000
50%         48.100000
75%         68.000000
max         99.000000
Name: Schools, dtype: float64
count    18203.000000
mean         5.182363
std          0.956217
min          2.970000
25%          4.500000
50%          5.100000
75%          6.000000
max         10.000000
Name: Unemployment, dtype: float64
count    18203.000000
mean         3.438426
std          0.150475
min          2.350000
25%          3.370000
50%          3.480000
75%          3.540000
max          3.670000
Name: EmploymentDiversity, dtype: float64
count    18203.000000
mean         4.887957
std          4.431504
min          0.000000
25%          1.320000
50%          3.420000
75%          7.040000
max         31.000000
Name: Census_Vacancy, dtype: float64
count    18203.000000
mean         6.385568
std          7.310517
min          0.000000
25%          1.468825
50%          2.400000
75%          9.136104
max         39.159639
Name: Crime_Rate, dtype: float64
count    1.820300e+04
mean     1.836020e+05
std      1.877200e+05
min      2.452200e+04
25%      1.537940e+05
50%      1.580510e+05
75%      1.613435e+05
max      8.628600e+06
Name: HomePrice, dtype: float64

In [30]:
train_data_explore = train_data.describe(include='all')
print(train_data_explore.iloc[0].shape)
print(train_data_explore.iloc[0])
print(sorted(train_data_explore.iloc[0]))
#print(type(train_data_explore.iloc[0]))

(40,)
county                   18177
city                     18203
zipcode                  18177
address                  17496
state                    18203
rent                     18203
latitude                 18203
longitude                18203
cemetery_dist_miles      18203
nationalhighway_miles    18203
railline_miles           18203
starbucks_miles          18203
walmart_miles            18203
hospital_miles           18203
physician_dist_miles     18203
dentist_dist_miles       18203
opt_dist_miles           18203
vet_dist_miles           18203
farmers_miles            18203
time                     18203
bed                      18203
bath                     18203
halfbath                 18203
sqft                     18203
property_type            15515
garage                   18203
yearbuilt                18203
pool                     18203
fireplace                18203
patio                    18203
lotsize                  18203
Census_MedianIncome      18203
CollegeGrads             18203
WhiteCollar              18203
Schools                  18203
Unemployment             18203
EmploymentDiversity      18203
Census_Vacancy           18203
Crime_Rate               18203
HomePrice                18203
Name: count, dtype: object
[15515, 17496, 18177, 18177.0, 18203, 18203, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0, 18203.0]

In [32]:
train_data.columns[train_data.isna().any()].tolist()

['county', 'zipcode', 'address', 'property_type']

In [26]:
train_data[train_data.columns[0:10]].describe(include='all')

,county,city,zipcode,address,state,rent,latitude,longitude,cemetery_dist_miles,nationalhighway_miles
count,18177,18203,18177.000000,17496,18203,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000
unique,61,674,NaN,14579,1,NaN,NaN,NaN,NaN,NaN
top,PHILADELPHIA,PHILADELPHIA,NaN,Center City East Philadelphia County,PA,NaN,NaN,NaN,NaN,NaN
freq,4970,4970,NaN,51,18203,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,18030.505364,NaN,NaN,1601.734165,40.087378,-77.267575,1.210770,0.292568
std,NaN,NaN,1482.025500,NaN,NaN,914.730775,1.578798,5.905950,0.936564,0.363775
min,NaN,NaN,15001.000000,NaN,NaN,385.000000,-11.968575,-149.900278,0.023038,0.000035
25%,NaN,NaN,17111.000000,NaN,NaN,1000.000000,39.967467,-77.012524,0.821590,0.145526
50%,NaN,NaN,18944.000000,NaN,NaN,1400.000000,40.130577,-75.477834,1.019586,0.206222
75%,NaN,NaN,19129.000000,NaN,NaN,1900.000000,40.444644,-75.185723,1.229043,0.283572
max,NaN,NaN,19611.000000,NaN,NaN,16000.000000,61.218056,-11.706829,9.747778,5.861421

In [25]:
train_data[train_data.columns[10:20]].describe(include='all')

,railline_miles,starbucks_miles,walmart_miles,hospital_miles,physician_dist_miles,dentist_dist_miles,opt_dist_miles,vet_dist_miles,farmers_miles,time
count,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000
mean,1.041623,2.043848,3.522699,2.270811,0.351478,0.708954,0.891707,12.368730,1.762844,2015.577913
std,1.529849,3.122275,1.758302,2.439700,0.538380,0.965186,1.065061,17.399292,2.154279,0.344428
min,0.000794,0.013197,0.118545,0.041096,0.000087,0.000157,0.000157,0.013511,0.014231,2015.250000
25%,0.470385,0.986498,2.719653,1.180311,0.170815,0.361726,0.495559,4.851441,0.751314,2015.250000
50%,0.629888,1.348776,3.326397,1.584675,0.229126,0.472933,0.651244,7.323725,1.094678,2015.500000
75%,0.862587,1.809722,3.864574,2.223802,0.300576,0.612327,0.858610,10.268145,1.709571,2015.750000
max,28.306430,61.349250,22.611844,32.433629,10.825859,19.823016,22.761643,141.184122,35.603985,2016.250000

In [24]:
train_data[train_data.columns[20:30]].describe(include='all')

,bed,bath,halfbath,sqft,property_type,garage,yearbuilt,pool,fireplace,patio
count,18203.000000,18203.000000,18203.000000,18203.000000,15515,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000
unique,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,Condo,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,7418,NaN,NaN,NaN,NaN,NaN
mean,2.766247,1.623743,1.027358,1536.611218,NaN,0.292424,1959.078284,0.011262,0.207603,0.197055
std,1.440967,0.855703,0.212040,826.928419,NaN,0.454889,23.153752,0.105526,0.405602,0.397785
min,1.000000,1.000000,1.000000,35.000000,NaN,0.000000,1800.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,1000.000000,NaN,0.000000,1960.000000,0.000000,0.000000,0.000000
50%,3.000000,1.000000,1.000000,1342.000000,NaN,0.000000,1960.000000,0.000000,0.000000,0.000000
75%,3.000000,2.000000,1.000000,1846.500000,NaN,1.000000,1960.000000,0.000000,0.000000,0.000000
max,18.000000,12.000000,12.000000,5000.000000,NaN,1.000000,2016.000000,1.000000,1.000000,1.000000

In [23]:
train_data[train_data.columns[30:40]].describe(include='all')

,lotsize,Census_MedianIncome,CollegeGrads,WhiteCollar,Schools,Unemployment,EmploymentDiversity,Census_Vacancy,Crime_Rate,HomePrice
count,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,1.820300e+04
mean,3683.627327,57076.140365,24.763198,67.419613,46.932605,5.182363,3.438426,4.887957,6.385568,1.836020e+05
std,3199.469032,23873.065621,15.978667,14.839700,26.840908,0.956217,0.150475,4.431504,7.310517,1.877200e+05
min,1.000000,0.000000,1.000000,15.090000,1.000000,2.970000,2.350000,0.000000,0.000000,2.452200e+04
25%,1724.000000,41040.665000,13.000000,56.200000,22.500000,4.500000,3.370000,1.320000,1.468825,1.537940e+05
50%,2872.730796,54476.090000,21.000000,66.570000,48.100000,5.100000,3.480000,3.420000,2.400000,1.580510e+05
75%,4290.707448,70379.790000,35.000000,79.340000,68.000000,6.000000,3.540000,7.040000,9.136104,1.613435e+05
max,19341.000000,198425.570000,72.000000,95.520000,99.000000,10.000000,3.670000,31.000000,39.159639,8.628600e+06

##### Clearly zipcode has missing entries and hence it is out of our analysis

In [9]:
train_data.corr()

,zipcode,rent,latitude,longitude,cemetery_dist_miles,nationalhighway_miles,railline_miles,starbucks_miles,walmart_miles,hospital_miles,...,lotsize,Census_MedianIncome,CollegeGrads,WhiteCollar,Schools,Unemployment,EmploymentDiversity,Census_Vacancy,Crime_Rate,HomePrice
zipcode,1.000000,0.147070,-0.072904,0.229841,0.042785,-0.029233,-0.021962,-0.039174,-0.061678,-0.050275,...,-0.115088,0.157343,0.052081,0.010564,-0.001391,0.017130,0.009575,0.019114,-0.039621,0.108808
rent,0.147070,1.000000,-0.055220,0.035446,0.019907,0.027415,0.014756,-0.110128,0.037726,-0.060416,...,-0.013814,0.231836,0.326981,0.324223,0.031129,0.060114,-0.065826,0.071419,-0.033924,0.301081
latitude,-0.072904,-0.055220,1.000000,0.283262,0.060091,0.060347,0.077137,0.096928,0.049414,0.093521,...,0.067164,-0.029160,-0.000886,0.017803,0.007724,0.030391,-0.007778,0.035436,-0.008214,0.000613
longitude,0.229841,0.035446,0.283262,1.000000,0.045257,0.030070,0.039926,0.029487,0.003384,0.035446,...,-0.007590,-0.016112,0.027018,0.009881,-0.054124,0.051860,-0.015230,0.093467,0.054195,0.048349
cemetery_dist_miles,0.042785,0.019907,0.060091,0.045257,1.000000,0.331175,0.421031,0.290963,0.224301,0.529028,...,0.135888,0.162005,-0.043740,-0.014870,0.188515,-0.037967,0.064320,-0.125792,-0.145151,0.061732
nationalhighway_miles,-0.029233,0.027415,0.060347,0.030070,0.331175,1.000000,0.430752,0.281209,0.301684,0.440472,...,0.128273,0.113499,-0.072564,-0.058981,0.153827,-0.055498,0.098721,-0.149308,-0.089117,0.071261
railline_miles,-0.021962,0.014756,0.077137,0.039926,0.421031,0.430752,1.000000,0.456701,0.379224,0.648366,...,0.172135,0.210312,-0.028540,-0.005600,0.275231,-0.074609,0.150029,-0.226091,-0.168721,0.060311
starbucks_miles,-0.039174,-0.110128,0.096928,0.029487,0.290963,0.281209,0.456701,1.000000,0.375480,0.521841,...,0.131565,0.010206,-0.182297,-0.185458,0.141575,-0.003487,0.091626,-0.155196,-0.106332,-0.040069
walmart_miles,-0.061678,0.037726,0.049414,0.003384,0.224301,0.301684,0.379224,0.375480,1.000000,0.404815,...,0.058042,0.101977,-0.022345,0.007437,0.153940,-0.033697,0.073790,-0.023806,-0.033410,0.083169
hospital_miles,-0.050275,-0.060416,0.093521,0.035446,0.529028,0.440472,0.648366,0.521841,0.404815,1.000000,...,0.251316,0.184937,-0.098119,-0.091360,0.264226,-0.101330,0.160430,-0.249095,-0.196682,0.030055
physician_dist_miles,-0.041809,-0.038780,0.086701,0.028084,0.430786,0.517702,0.501564,0.458297,0.417014,0.619725,...,0.162786,0.061397,-0.141491,-0.143892,0.165582,-0.004118,0.103891,-0.125116,-0.115580,0.030912
dentist_dist_miles,-0.037725,-0.028434,0.086779,0.034764,0.445692,0.501396,0.578602,0.508086,0.462935,0.647033,...,0.161943,0.105256,-0.129289,-0.118010,0.186511,-0.014679,0.113917,-0.155923,-0.145699,0.031114
opt_dist_miles,-0.013850,-0.014704,0.076024,0.037614,0.413016,0.506585,0.567825,0.459599,0.520615,0.614490,...,0.136886,0.026732,-0.168654,-0.169450,0.115010,0.022193,0.080312,-0.074102,-0.068710,0.016307
vet_dist_miles,-0.164877,-0.130775,0.107432,0.004508,0.213680,0.173414,0.233624,0.414586,0.181674,0.311789,...,0.218492,-0.034559,-0.186561,-0.176637,0.148940,-0.128268,0.074583,-0.140725,-0.140218,-0.024370
farmers_miles,-0.065261,-0.065937,0.099318,0.025652,0.370841,0.369221,0.467688,0.570079,0.372502,0.595472,...,0.209389,0.152455,-0.124586,-0.100252,0.266300,-0.073577,0.168997,-0.255368,-0.182883,0.015897
time,-0.021033,0.036686,0.024487,0.023868,0.045171,0.077420,0.080036,0.064137,0.038644,0.086218,...,0.054789,0.025285,-0.000209,0.000037,0.020094,-0.032058,0.011921,-0.025264,0.022680,0.023403
bed,0.008261,0.564429,0.037457,0.051136,0.049892,0.077405,0.060100,0.039500,0.056285,0.042897,...,0.029805,-0.104065,-0.183006,-0.159092,-0.039344,-0.009427,-0.014141,0.100188,0.162223,0.065775
bath,0.047349,0.697498,-0.038372,0.014208,0.104287,0.091668,0.085269,-0.007105,0.068418,0.048822,...,0.015768,0.100730,0.034787,0.061964,0.077549,-0.020456,0.022915,0.015341,0.017289,0.192772
halfbath,-0.029318,0.164389,0.013041,0.008704,0.016814,0.002939,0.022485,0.021384,0.003380,0.011035,...,0.051412,0.020064,0.005236,0.008246,0.032012,-0.042806,-0.017229,-0.020828,-0.007191,0.026726
sqft,-0.002976,0.420736,0.035312,0.049525,0.078848,0.104950,0.113093,0.075822,0.090398,0.080582,...,0.099140,0.055260,-0.044689,-0.027369,0.078549,-0.066796,0.034121,-0.016300,0.035348,0.164323
garage,-0.106382,0.118766,0.029376,-0.030385,0.112089,0.146125,0.157995,0.098025,0.052782,0.159812,...,0.169619,0.179600,0.042569,0.059998,0.190017,-0.137029,0.090376,-0.233206,-0.118593,0.106792
yearbuilt,0.027239,0.058623,0.004441,0.002471,0.129098,0.097076,0.111863,0.040737,0.043090,0.116185,...,0.040051,0.130492,0.033397,0.062088,0.134069,-0.039062,0.082260,-0.105122,-0.108302,0.040423
pool,0.050151,0.062530,0.009412,0.022215,0.059959,0.062894,0.077951,0.016176,0.052173,0.066914,...,0.010957,0.105950,0.036445,0.050267,0.113100,-0.085913,0.040559,-0.075155,-0.051065,0.138176
fireplace,-0.021837,0.200723,0.030899,-0.056877,0.177109,0.183585,0.209018,0.053818,0.098284,0.202275,...,0.147141,0.298707,0.143573,0.167207,0.267047,-0.154697,0.110754,-0.207356,-0.167270,0.194298
patio,-0.035270,0.047330,-0.038824,-0.069536,0.007106,0.011438,0.018715,-0.009277,0.002866,0.004766,...,-0.018031,0.157059,0.041484,0.072942,0.161013,-0.129310,0.117114,-0.150799,-0.110173,0.047921
lotsize,-0.115088,-0.013814,0.067164,-0.007590,0.135888,0.128273,0.172135,0.131565,0.058042,0.251316,...,1.000000,0.131079,0.020154,0.039699,0.200347,-0.101237,0.053297,-0.192226,-0.162782,0.050636
Census_MedianIncome,0.157343,0.231836,-0.029160,-0.016112,0.162005,0.113499,0.210312,0.010206,0.101977,0.184937,...,0.131079,1.000000,0.635950,0.662402,0.672598,-0.393601,0.282407,-0.656087,-0.598953,0.258164
CollegeGrads,0.052081,0.326981,-0.000886,0.027018,-0.043740,-0.072564,-0.028540,-0.182297,-0.022345,-0.098119,...,0.020154,0.635950,1.000000,0.916561,0.213027,-0.036248,-0.112733,-0.179177,-0.414221,0.232594
WhiteCollar,0.010564,0.324223,0.017803,0.009881,-0.014870,-0.058981,-0.005600,-0.185458,0.007437,-0.091360,...,0.039699,0.662402,0.916561,1.000000,0.303828,-0.108122,-0.017672,-0.225872,-0.405706,0.235761
Schools,-0.001391,0.031129,0.007724,-0.054124,0.188515,0.153827,0.275231,0.141575,0.153940,0.264226,...,0.200347,0.672598,0.213027,0.303828,1.000000,-0.537015,0.358519,-0.652609,-0.534144,0.145916
Unemployment,0.017130,0.060114,0.030391,0.051860,-0.037967,-0.055498,-0.074609,-0.003487,-0.033697,-0.101330,...,-0.101237,-0.393601,-0.036248,-0.108122,-0.537015,1.000000,-0.182259,0.404021,0.152726,-0.040642
EmploymentDiversity,0.009575,-0.065826,-0.007778,-0.015230,0.064320,0.098721,0.150029,0.091626,0.073790,0.160430,...,0.053297,0.282407,-0.112733,-0.017672,0.358519,-0.182259,1.000000,-0.438088,-0.226718,0.019809
Census_Vacancy,0.019114,0.071419,0.035436,0.093467,-0.125792,-0.149308,-0.226091,-0.155196,-0.023806,-0.249095,...,-0.192226,-0.656087,-0.179177,-0.225872,-0.652609,0.404021,-0.438088,1.000000,0.585105,-0.093815
Crime_Rate,-0.039621,-0.033924,-0.008214,0.054195,-0.145151,-0.089117,-0.168721,-0.106332,-0.033410,-0.196682,...,-0.162782,-0.598953,-0.414221,-0.405706,-0.534144,0.152726,-0.226718,0.585105,1.000000,-0.123248
HomePrice,0.108808,0.301081,0.000613,0.048349,0.061732,0.071261,0.060311,-0.040069,0.083169,0.030055,...,0.050636,0.258164,0.232594,0.235761,0.145916,-0.040642,0.019809,-0.093815,-0.123248,1.000000

In [10]:
test_data = train_data.corr().abs()

In [11]:
test_data.describe()

,zipcode,rent,latitude,longitude,cemetery_dist_miles,nationalhighway_miles,railline_miles,starbucks_miles,walmart_miles,hospital_miles,...,lotsize,Census_MedianIncome,CollegeGrads,WhiteCollar,Schools,Unemployment,EmploymentDiversity,Census_Vacancy,Crime_Rate,HomePrice
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,...,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
mean,0.082828,0.160536,0.079196,0.073414,0.188540,0.195635,0.232779,0.202467,0.168297,0.257707,...,0.130244,0.230464,0.169463,0.171979,0.225281,0.125210,0.128912,0.207900,0.186634,0.117864
std,0.168069,0.217790,0.168162,0.170886,0.204242,0.208512,0.230685,0.225442,0.211793,0.247328,...,0.166557,0.242018,0.236240,0.239532,0.217175,0.193045,0.180633,0.219641,0.211683,0.172503
min,0.001391,0.013814,0.000613,0.002471,0.007106,0.002939,0.005600,0.003487,0.002866,0.004766,...,0.007590,0.010206,0.000209,0.000037,0.001391,0.003487,0.007778,0.015341,0.007191,0.000613
25%,0.021435,0.036066,0.021145,0.019164,0.047574,0.067078,0.067460,0.039784,0.038185,0.073748,...,0.045344,0.081064,0.035518,0.022586,0.095825,0.032877,0.028518,0.074628,0.052630,0.031013
50%,0.039621,0.062530,0.038372,0.034764,0.125792,0.104950,0.157995,0.106332,0.068418,0.160430,...,0.115088,0.152455,0.098119,0.091360,0.161013,0.060114,0.082260,0.149308,0.123248,0.061732
75%,0.069083,0.182556,0.076580,0.051498,0.257632,0.291447,0.400127,0.333222,0.262992,0.422643,...,0.162784,0.270286,0.182652,0.181048,0.266674,0.128789,0.133572,0.229648,0.175802,0.142046
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
import seaborn as sns

In [13]:
clean_data =train_data.copy()
clean_data = clean_data.drop('zipcode',axis=1)
clean_data.describe()

,rent,latitude,longitude,cemetery_dist_miles,nationalhighway_miles,railline_miles,starbucks_miles,walmart_miles,hospital_miles,physician_dist_miles,...,lotsize,Census_MedianIncome,CollegeGrads,WhiteCollar,Schools,Unemployment,EmploymentDiversity,Census_Vacancy,Crime_Rate,HomePrice
count,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,...,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,18203.000000,1.820300e+04
mean,1601.734165,40.087378,-77.267575,1.210770,0.292568,1.041623,2.043848,3.522699,2.270811,0.351478,...,3683.627327,57076.140365,24.763198,67.419613,46.932605,5.182363,3.438426,4.887957,6.385568,1.836020e+05
std,914.730775,1.578798,5.905950,0.936564,0.363775,1.529849,3.122275,1.758302,2.439700,0.538380,...,3199.469032,23873.065621,15.978667,14.839700,26.840908,0.956217,0.150475,4.431504,7.310517,1.877200e+05
min,385.000000,-11.968575,-149.900278,0.023038,0.000035,0.000794,0.013197,0.118545,0.041096,0.000087,...,1.000000,0.000000,1.000000,15.090000,1.000000,2.970000,2.350000,0.000000,0.000000,2.452200e+04
25%,1000.000000,39.967467,-77.012524,0.821590,0.145526,0.470385,0.986498,2.719653,1.180311,0.170815,...,1724.000000,41040.665000,13.000000,56.200000,22.500000,4.500000,3.370000,1.320000,1.468825,1.537940e+05
50%,1400.000000,40.130577,-75.477834,1.019586,0.206222,0.629888,1.348776,3.326397,1.584675,0.229126,...,2872.730796,54476.090000,21.000000,66.570000,48.100000,5.100000,3.480000,3.420000,2.400000,1.580510e+05
75%,1900.000000,40.444644,-75.185723,1.229043,0.283572,0.862587,1.809722,3.864574,2.223802,0.300576,...,4290.707448,70379.790000,35.000000,79.340000,68.000000,6.000000,3.540000,7.040000,9.136104,1.613435e+05
max,16000.000000,61.218056,-11.706829,9.747778,5.861421,28.306430,61.349250,22.611844,32.433629,10.825859,...,19341.000000,198425.570000,72.000000,95.520000,99.000000,10.000000,3.670000,31.000000,39.159639,8.628600e+06

In [14]:
sns.heatmap(clean_data)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [15]:
s = test_data.unstack()
so = s.sort_values(kind="quicksort",ascending=False)
print((type(so)))
#print so[-4470:-4460]

<class 'pandas.core.series.Series'>

In [16]:
for s in so:
    if s < 1 and s >0.5:
        print(s)

0.9165612312548296
0.9165612312548296
0.8014347710270321
0.8014347710270321
0.7419399725968464
0.7419399725968464
0.7212976963866683
0.7212976963866683
0.6974984163761885
0.6974984163761885
0.6725975712363
0.6725975712363
0.6624016282305951
0.6624016282305951
0.6560873550759816
0.6560873550759816
0.6526088554594184
0.6526088554594184
0.648365675078018
0.648365675078018
0.6470333254439712
0.6470333254439712
0.6359495848653813
0.6359495848653813
0.6197245695064786
0.6197245695064786
0.6167416905880055
0.6167416905880055
0.6144902677073821
0.6144902677073821
0.5989528640497271
0.5989528640497271
0.595472084503935
0.595472084503935
0.5867114824876479
0.5867114824876479
0.5851046493419645
0.5851046493419645
0.5786019881810929
0.5786019881810929
0.5700791582129999
0.5700791582129999
0.5678252365106071
0.5678252365106071
0.5644286127436136
0.5644286127436136
0.5470895363338103
0.5470895363338103
0.5370151318355021
0.5370151318355021
0.5341444926217229
0.5341444926217229
0.531327081789804
0.531327081789804
0.5290278448618262
0.5290278448618262
0.5218411456708807
0.5218411456708807
0.5206147872124247
0.5206147872124247
0.5177018390748556
0.5177018390748556
0.5080857794003671
0.5080857794003671
0.5065847366971196
0.5065847366971196
0.5015643694534484
0.5015643694534484
0.5013959482005762
0.5013959482005762

In [17]:
mat = pd.DataFrame(so)
temp = mat[mat[mat.columns[0]] < 1]
temp = temp[temp[temp.columns[0]] > 0.6]
temp

                                                  0
CollegeGrads         WhiteCollar           0.916561
WhiteCollar          CollegeGrads          0.916561
opt_dist_miles       dentist_dist_miles    0.801435
dentist_dist_miles   opt_dist_miles        0.801435
physician_dist_miles dentist_dist_miles    0.741940
dentist_dist_miles   physician_dist_miles  0.741940
opt_dist_miles       physician_dist_miles  0.721298
physician_dist_miles opt_dist_miles        0.721298
bath                 rent                  0.697498
rent                 bath                  0.697498
Schools              Census_MedianIncome   0.672598
Census_MedianIncome  Schools               0.672598
WhiteCollar          Census_MedianIncome   0.662402
Census_MedianIncome  WhiteCollar           0.662402
                     Census_Vacancy        0.656087
Census_Vacancy       Census_MedianIncome   0.656087
Schools              Census_Vacancy        0.652609
Census_Vacancy       Schools               0.652609
hospital_miles       railline_miles        0.648366
railline_miles       hospital_miles        0.648366
dentist_dist_miles   hospital_miles        0.647033
hospital_miles       dentist_dist_miles    0.647033
Census_MedianIncome  CollegeGrads          0.635950
CollegeGrads         Census_MedianIncome   0.635950
physician_dist_miles hospital_miles        0.619725
hospital_miles       physician_dist_miles  0.619725
bath                 bed                   0.616742
bed                  bath                  0.616742
hospital_miles       opt_dist_miles        0.614490
opt_dist_miles       hospital_miles        0.614490

In [18]:
from sklearn.tree import DecisionTreeRegressor
clf = DecisionTreeRegressor(max_depth=3)
y = train_data['rent']
X = train_data.copy()
X= X.drop(['rent','county','city','address','state','property_type','zipcode'],axis=1)
print(X.columns)
clf.fit(X[X.columns],y)

Index(['latitude', 'longitude', 'cemetery_dist_miles', 'nationalhighway_miles',
       'railline_miles', 'starbucks_miles', 'walmart_miles', 'hospital_miles',
       'physician_dist_miles', 'dentist_dist_miles', 'opt_dist_miles',
       'vet_dist_miles', 'farmers_miles', 'time', 'bed', 'bath', 'halfbath',
       'sqft', 'garage', 'yearbuilt', 'pool', 'fireplace', 'patio', 'lotsize',
       'Census_MedianIncome', 'CollegeGrads', 'WhiteCollar', 'Schools',
       'Unemployment', 'EmploymentDiversity', 'Census_Vacancy', 'Crime_Rate',
       'HomePrice'],
      dtype='object')

DecisionTreeRegressor(criterion='mse', max_depth=3, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [19]:
clf.feature_importances_

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.04693215,
       0.80697493, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.11949115, 0.02660177, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        ])

In [20]:
cnt = 0
for i in clf.feature_importances_:
    #print(i)
    
    if i > 0:
        print(X.columns[cnt])
        
    cnt += 1

bed
bath
CollegeGrads
WhiteCollar

In [21]:
clf.fit(X[['latitude', 'longitude', 'cemetery_dist_miles','bed','bath','CollegeGrads','WhiteCollar']],y)
clf.feature_importances_

array([0.        , 0.        , 0.        , 0.04693215, 0.80697493,
       0.11949115, 0.02660177])

In [22]:
train_data['state'].describe()

count     18203
unique        1
top          PA
freq      18203
Name: state, dtype: object

##### Is having more beds is common ?

In [40]:
train_data['bed'].describe()

count    18203.000000
mean         2.766247
std          1.440967
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         18.000000
Name: bed, dtype: float64

In [41]:
train_data['bed'].median()

3.0

In [42]:
train_data[train_data.bed > train_data['bed'].median()].shape

(4058, 40)

In [54]:
train_data.groupby(by='bed').describe()

    Census_MedianIncome                                                    \
                  count          mean           std       min         25%
bed
1                2912.0  57619.957212  22188.195019  11769.27  42162.1200
2                5661.0  57471.760094  22498.902016      0.00  42742.0500
3                5572.0  58787.986235  23523.022007  14623.24  43077.5700
4                2644.0  57236.271520  25928.297572  12030.25  38940.5500
5                 474.0  54193.518544  30740.126405  12419.63  28942.9325
6                 679.0  46793.155523  24241.999795  12419.63  29248.4600
7                  13.0  41187.750000  25494.694474  14846.61  16919.6100
8                 138.0  41730.199565  25321.316584  14846.61  18863.9800
9                  47.0  31974.126383  26722.386446  14623.24  15736.1700
10                 14.0  33858.946429  25594.232407  14846.61  18987.4875
12                 38.0  24355.923947  17587.812058  14846.61  14846.6100
15                  8.0  25741.355000  18739.673066  14846.61  15513.7800
16                  2.0  14846.610000      0.000000  14846.61  14846.6100
18                  1.0  28225.540000           NaN  28225.54  28225.5400

                                      Census_Vacancy              ...     \
           50%         75%        max          count       mean   ...
bed                                                               ...
1    54842.020  70732.9400  154463.28         2912.0   5.549337   ...
2    54393.530  69470.2900  198425.57         5661.0   4.758289   ...
3    56692.540  72535.3500  186763.70         5572.0   4.058090   ...
4    54476.090  72535.3500  178085.41         2644.0   4.929024   ...
5    47587.475  73233.1150  178085.41          474.0   6.229557   ...
6    44816.070  59469.4950  178085.41          679.0   6.773711   ...
7    39338.880  55544.9000  101639.00           13.0   8.005385   ...
8    35707.330  60718.4650  107509.61          138.0   8.687899   ...
9    19727.770  35451.0050  110839.89           47.0  11.796170   ...
10   26901.475  30251.5775  108034.71           14.0  10.776429   ...
12   16000.420  22609.2425   80940.52           38.0  13.936579   ...
15   17411.470  23951.6100   67517.11            8.0  12.585000   ...
16   14846.610  14846.6100   14846.61            2.0  16.800000   ...
18   28225.540  28225.5400   28225.54            1.0  10.800000   ...

    yearbuilt         zipcode                                                \
          75%     max   count          mean          std      min       25%
bed
1     1960.00  2016.0  2908.0  18131.634113  1499.236413  15026.0  17113.00
2     1960.00  2016.0  5652.0  17975.944091  1521.445746  15001.0  17070.00
3     1960.00  2016.0  5559.0  18052.644181  1415.993391  15001.0  17225.00
4     1960.00  2016.0  2644.0  17939.083207  1548.511501  15001.0  17102.75
5     1960.00  2015.0   474.0  18297.559072  1261.337048  15003.0  17745.00
6     1960.00  2015.0   679.0  17824.184094  1516.171895  15003.0  17061.00
7     1960.00  2011.0    13.0  18882.692308   622.708116  17257.0  18938.00
8     1960.00  2014.0   138.0  18313.347826  1231.505450  15120.0  17603.00
9     1960.00  2014.0    47.0  19058.638298   430.094501  17033.0  19121.00
10    1960.00  1960.0    14.0  17741.285714  1554.226418  15206.0  17182.75
12    1960.00  2015.0    38.0  19101.026316   124.080507  18360.0  19108.25
15    1960.00  2010.0     8.0  19042.750000   215.508535  18510.0  19104.00
16    1948.75  1960.0     2.0  19121.000000     0.000000  19121.0  19121.00
18    1960.00  1960.0     1.0  19145.000000          NaN  19145.0  19145.00


         50%       75%      max
bed
1    19078.0  19130.00  19611.0
2    18940.0  19128.00  19611.0
3    18508.0  19132.00  19611.0
4    18874.5  19128.00  19611.0
5    19008.0  19129.75  19609.0
6    18360.0  19121.00  19560.0
7    19121.0  19124.00  19526.0
8    19104.0  19121.00  19438.0
9    19121.0  19133.00  19426.0
10   18068.0  19116.75  19127.0
12   19121.0  19121.00  19147.0
15   19121.0  19122.75  19133.0
16   19121.0  19121.00  19121.0
18   19145.0  19145.00  19145.0

[14 rows x 272 columns]

In [39]:
train_data[train_data['bed'] > 15]

,county,city,zipcode,address,state,rent,latitude,longitude,cemetery_dist_miles,nationalhighway_miles,...,lotsize,Census_MedianIncome,CollegeGrads,WhiteCollar,Schools,Unemployment,EmploymentDiversity,Census_Vacancy,Crime_Rate,HomePrice
12552,PHILADELPHIA,PHILADELPHIA,19121.0,1519 N 17TH ST,PA,9600,39.977102,-75.162905,1.628870,0.237405,...,2133.0,14846.61,5.0,52.31,3.3,6.0,3.40,16.8,21.328510,158051
12581,PHILADELPHIA,PHILADELPHIA,19121.0,1611 N 17TH ST,PA,9200,39.978222,-75.162670,1.557703,0.238495,...,2000.0,14846.61,5.0,52.31,3.3,6.0,3.40,16.8,21.328510,158051
15118,PHILADELPHIA,PHILADELPHIA,19145.0,1700 S 21ST ST,PA,10800,39.930677,-75.180324,1.639163,0.479502,...,1224.0,28225.54,9.0,57.63,6.4,6.0,3.46,10.8,6.372162,158051

##### what about bath statistics?

In [55]:
train_data.groupby(by='bath').describe()

     Census_MedianIncome                                                    \
                   count          mean           std       min         25%
bath
1                 9603.0  53678.344557  21296.683221      0.00  38685.3900
2                 6849.0  60526.390959  24266.515304  12030.25  45213.2800
3                 1128.0  65655.628608  28742.886862  14846.61  47165.9200
4                  451.0  57419.581330  33447.009812  12419.63  32586.6500
5                   50.0  68370.162400  36002.454460  14846.61  37366.2750
6                   87.0  42950.699425  37061.756065  14623.24  15868.2950
7                    6.0  89296.735000  52868.281214  14846.61  74918.0625
8                   19.0  49890.877368  43560.690443  14846.61  14846.6100
9                    6.0  47010.908333  39993.620271  14846.61  17663.4025
12                   4.0  15454.215000   1215.210000  14846.61  14846.6100

                                       Census_Vacancy              ...     \
            50%         75%        max          count       mean   ...
bath                                                               ...
1     51783.140  65990.9200  178085.41         9603.0   5.187000   ...
2     58398.430  74955.5600  198425.57         6849.0   4.374618   ...
3     66224.460  84223.3900  178085.41         1128.0   4.273129   ...
4     54269.530  77863.5150  178085.41          451.0   6.352506   ...
5     75896.165  91720.4075  172028.70           50.0   5.404200   ...
6     28225.540  59759.1000  178085.41           87.0  10.097816   ...
7     83939.970  98278.2600  178085.41            6.0   4.531667   ...
8     23534.150  80940.5200  172028.70           19.0  11.258947   ...
9     29080.700  70540.1100  110839.89            6.0  10.151667   ...
12    14846.610  15454.2150   17277.03            4.0  16.787500   ...

     yearbuilt         zipcode                                                \
           75%     max   count          mean          std      min       25%
bath
1      1960.00  2016.0  9594.0  18026.341568  1488.861591  15001.0  17109.00
2      1960.00  2016.0  6836.0  17954.144236  1495.913791  15001.0  17109.00
3      1960.00  2016.0  1124.0  18376.622776  1305.909857  15009.0  18031.00
4      1960.00  2015.0   451.0  18131.084257  1493.633284  15005.0  17331.00
5      1960.00  2016.0    50.0  18477.140000  1344.668991  15106.0  18451.00
6      1960.00  2015.0    87.0  18901.770115   727.991482  15206.0  19104.00
7      1960.00  2008.0     6.0  17760.333333  1954.840829  15238.0  16158.50
8      1960.00  2014.0    19.0  19107.947368    44.347709  18938.0  19103.00
9      1999.50  2014.0     6.0  19068.500000   300.336977  18510.0  19104.00
12     1973.75  2015.0     4.0  19116.750000     8.500000  19104.0  19116.75


          50%       75%      max
bath
1     18974.0  19130.00  19611.0
2     18466.0  19128.00  19611.0
3     19087.0  19141.00  19607.0
4     19067.0  19121.00  19560.0
5     19104.5  19132.00  19540.0
6     19121.0  19131.50  19446.0
7     18965.0  19028.75  19121.0
8     19121.0  19121.00  19148.0
9     19112.5  19139.75  19426.0
12    19121.0  19121.00  19121.0

[10 rows x 272 columns]

In [56]:
train_data.groupby(by='halfbath').describe()

         Census_MedianIncome                                        \
                       count          mean           std       min
halfbath
1                    17785.0  56952.526390  23840.657763      0.00
2                      377.0  63578.981777  24519.464354  12419.63
3                       17.0  44114.314706  25891.686032  18822.52
4                       20.0  56094.143000  22018.880692  15736.17
6                        2.0  48442.015000  16453.066651  36807.94
7                        1.0  69618.260000           NaN  69618.26
12                       1.0  48696.600000           NaN  48696.60

                                                       Census_Vacancy  \
                 25%        50%         75%        max          count
halfbath
1         40832.3300  54476.090  69915.4400  198425.57        17785.0
2         48079.3500  58604.630  77500.5800  178085.41          377.0
3         28225.5400  33447.580  55461.1800  103057.69           17.0
4         43420.5975  58047.345  69299.7975   95757.10           20.0
6         42624.9775  48442.015  54259.0525   60076.09            2.0
7         69618.2600  69618.260  69618.2600   69618.26            1.0
12        48696.6000  48696.600  48696.6000   48696.60            1.0

                     ...    yearbuilt          zipcode                \
              mean   ...          75%     max    count          mean
halfbath             ...
1         4.912455   ...       1960.0  2016.0  17759.0  18039.006532
2         3.512175   ...       1960.0  2016.0    377.0  17595.480106
3         8.831765   ...       1960.0  2008.0     17.0  18996.882353
4         5.915000   ...       1960.0  2012.0     20.0  18117.200000
6         5.220000   ...       1960.0  1960.0      2.0  16410.000000
7         0.600000   ...       1910.0  1910.0      1.0  18960.000000
12        3.900000   ...       1900.0  1900.0      1.0  15212.000000


                  std      min      25%      50%       75%      max
halfbath
1         1480.291709  15001.0  17111.0  18951.0  19129.00  19611.0
2         1505.169747  15003.0  16901.0  17603.0  19020.00  19560.0
3          487.901614  17110.0  19104.0  19121.0  19145.00  19147.0
4         1590.897086  15132.0  17530.5  19015.0  19108.25  19464.0
6         1687.156780  15217.0  15813.5  16410.0  17006.50  17603.0
7                 NaN  18960.0  18960.0  18960.0  18960.00  18960.0
12                NaN  15212.0  15212.0  15212.0  15212.00  15212.0

[7 rows x 272 columns]

##### property_type is categorical ?

In [61]:
train_data['property_type'].unique()

array(['Condo', 'SFR', nan, 'Duplex', 'Triplex', 'Quadplex'], dtype=object)

##### is 'garage' binary value ?

In [63]:
train_data['garage'].unique()

array([1, 0], dtype=int64)

##### how old are buildings ?

In [69]:
print(train_data['yearbuilt'].unique()) 
print("Oldest building : ", train_data['yearbuilt'].min())
print("Newest building : ", train_data['yearbuilt'].max())
print("In our data set the most houses are built on : ", train_data['yearbuilt'].median())

[2008 1935 2006 1960 2012 2007 2015 1900 1898 2016 1984 2009 1940 1973
 1880 1964 1988 1970 2004 2000 1980 1948 1890 1928 1925 1926 1901 1915
 1920 1906 1930 1908 1910 1950 1945 1891 1983 2005 1978 1917 1947 1938
 1929 1907 2014 1986 1958 1982 1951 1968 1974 1918 1904 1955 1856 1959
 1971 2011 1903 1992 1953 2013 1975 1896 1941 1996 1999 1965 1957 1861
 1927 1924 1963 1919 1956 1905 1952 2001 1961 1933 1979 1932 2010 1876
 1865 1912 1911 1989 1902 1886 1922 1921 1916 1923 2002 1939 1966 1943
 1860 1889 1954 1985 1976 1877 1946 1977 1972 1840 1969 1895 1875 1871
 1850 1995 1820 1991 1998 1994 1990 1993 1937 1913 1800 1981 1870 2003
 1835 1874 1987 1803 1859 1997 1853 1846 1830 1879 1931 1934 1864 1851
 1967 1854 1831 1949 1962 1816 1873 1942 1872 1881 1882 1897 1936 1944
 1888 1894 1866 1893 1885 1837 1852 1909 1914 1899 1811 1829 1868 1832
 1819 1849 1845 1855 1883 1825 1834]
Oldest building :  1800
Newest building :  2016
In our data set the most houses are built on :  1960.0

In [79]:
train_data[train_data.yearbuilt == 1960].groupby(by='yearbuilt').describe()

          Census_MedianIncome                                              \
                        count          mean           std  min        25%
yearbuilt
1960                  12967.0  56423.399071  23181.426897  0.0  40767.455

                                         Census_Vacancy             ...     \
                50%       75%        max          count      mean   ...
yearbuilt                                                           ...
1960       54367.68  67666.35  198425.57        12967.0  4.833455   ...

          walmart_miles             zipcode                             \
                    75%        max    count          mean          std
yearbuilt
1960           3.694227  22.611844  12960.0  17910.618596  1521.681393


               min      25%      50%      75%      max
yearbuilt
1960       15001.0  17044.0  18508.0  19127.0  19611.0

[1 rows x 272 columns]

##### is 'pool' a binary datatype

In [83]:
print(train_data['pool'].unique()) 
print(train_data['fireplace'].unique()) 
print(train_data['patio'].unique())

[0 1]
[1 0]
[0 1]

##### wth is lot size ?

In [88]:
train_data['lotsize'].median()

2872.7307960000003

In [96]:
train_data[train_data['lotsize'] < 10][['rent','yearbuilt']]

      rent  yearbuilt
4738  1300       1960
4843  1700       1960
4941  1550       2008
4995  1600       2008

##### is train_data['Census_MedianIncome'] == 0 is a outlier ?

In [97]:
train_data['Census_MedianIncome'].describe()

count     18203.000000
mean      57076.140365
std       23873.065621
min           0.000000
25%       41040.665000
50%       54476.090000
75%       70379.790000
max      198425.570000
Name: Census_MedianIncome, dtype: float64

In [100]:
sorted(train_data['Census_MedianIncome'])[:5]

[0.0, 11769.27, 11781.33, 12030.25, 12419.63]

In [103]:
train_data[train_data['Census_MedianIncome'] == 0][['rent','yearbuilt','HomePrice']]

       rent  yearbuilt  HomePrice
16872   875       1960     158051

In [106]:
train_data[train_data['Census_MedianIncome'] == train_data['Census_MedianIncome'].max()][['rent','yearbuilt','HomePrice']]

       rent  yearbuilt  HomePrice
11313  3750       1960     158051

In [109]:
train_data[train_data['Census_MedianIncome'] > 100000][['Census_MedianIncome','rent','yearbuilt','HomePrice']]

       Census_MedianIncome  rent  yearbuilt  HomePrice
133              116640.56  1150       1925     158051
291              116640.56  4000       1930     293439
417              116640.56  2300       1960     245833
435              106521.98  1650       1960     177696
578              102271.72  1100       1960     158051
619              116640.56  2050       1960     211129
891              186763.70  6000       1960     487125
903              100832.33  1400       1960     158051
1027             102271.72  1650       1960     158051
1091             116640.56  2400       1953     247970
1285             106521.98  1850       1960     167966
1382             106521.98  1600       1951     177738
1529             116640.56  3600       1926     212657
1689             116640.56  3295       1960     249007
1863             106521.98  1750       1960     191606
1958             116640.56  1750       1960     148759
1961             116944.46  2100       1960     256736
2169             116944.46  2200       2008     254031
2171             116944.46  2600       1960     259894
2213             116944.46  2200       1960     260873
2270             116944.46  3600       1989     421550
2286             106521.98  2195       1960     139258
2310             116944.46  2950       1960     289944
2344             116944.46  3000       1960     257356
2358             116944.46  2600       1960     251889
2368             116944.46  2500       1960     158051
2378             106521.98  1675       1960     158051
2388             116944.46  2100       2008     249345
2389             116944.46  2200       1960     273805
2402             116944.46  2050       2013     257572
...                    ...   ...        ...        ...
11399            106817.18  4200       1960     158051
11403            178085.41  3900       1960     158051
11404            114989.77  1650       1960     158051
11408            103057.69  1550       1910     176313
11409            112524.20  2000       1950     377789
11410            114989.77  1650       2007     218069
11414            114989.77  1325       1960     158051
11416            110839.89  1650       1960     226694
11417            114989.77  1250       1976     144438
11418            106817.18  1680       1960     158051
11419            178085.41  4200       2013     688480
11420            111520.08  4850       1975     158051
11421            112524.20  1313       1960     158051
11423            112524.20  4800       2002     879160
11430            111520.08  1450       1960     158051
11435            112524.20  2700       2005     421152
11436            112524.20  3300       1960     465986
12977            110356.14  2450       2013     232398
16652            106249.00  2500       1960     684400
17367            120319.51  3200       1960     527582
17374            120319.51  1185       1960     126244
17389            120319.51  1450       1960     150801
17398            120319.51  3200       1960     668721
17400            120319.51  1250       1960     131317
17406            120319.51  1199       1960     100085
17410            120319.51  2000       1960     158051
17416            120319.51  1173       1960     115302
17421            120319.51  2750       1960     357453
17448            120319.51  1950       1960     279638
17488            120319.51  1500       1960     182098

[937 rows x 4 columns]

##### is min 'schools' justified ?

In [113]:
train_data['Schools'].unique()[(train_data['Schools'].unique() < 5)]

array([2.4, 1.8, 4.2, 1. , 4. , 4.9, 3.6, 4.1, 3.9, 3.3, 2.9, 1.3, 3.7,
       3.8, 4.6, 2.6, 2.7, 4.4, 4.3])

##### what is unemployment ?

In [115]:
print(train_data['Unemployment'].unique())
print(train_data['Unemployment'].median())

[ 5.1   4.    5.    4.99  5.02  6.33  6.    6.56  4.8   3.99  5.33  6.66
  4.53  5.26  6.93  5.9   4.06  3.66 10.    3.96  6.46  8.03  7.5   5.76
  5.73  3.86  3.    2.97  4.5   4.6   6.43  8.53  4.93  6.9   7.56  7.83
  7.23  7.3   4.1   7.1   4.46  4.95  4.98  5.99  6.8   6.4   5.8   5.93
  6.2   4.4   5.16  4.79  6.5   4.63  4.36  8.6   6.26  8.1   7.33  6.36
  6.7   5.96  7.03]
5.1

##### is there any high priced houses ? [not that i am planning buy one]

In [116]:
train_data['HomePrice'].describe()

count    1.820300e+04
mean     1.836020e+05
std      1.877200e+05
min      2.452200e+04
25%      1.537940e+05
50%      1.580510e+05
75%      1.613435e+05
max      8.628600e+06
Name: HomePrice, dtype: float64

In [118]:
train_data[train_data['HomePrice'] > 5000000]

,county,city,zipcode,address,state,rent,latitude,longitude,cemetery_dist_miles,nationalhighway_miles,...,lotsize,Census_MedianIncome,CollegeGrads,WhiteCollar,Schools,Unemployment,EmploymentDiversity,Census_Vacancy,Crime_Rate,HomePrice
3543,BUCKS,NEW HOPE,18938.0,3220 WINDY BUSH RD,PA,5000,40.331332,-74.974807,1.543058,1.707615,...,2872.730796,101639.00,41.0,82.74,89.7,4.53,3.61,1.19,3.950000,8628600
3572,BUCKS,NEW HOPE,18938.0,3220 WINDY BUSH RD,PA,5000,40.331332,-74.974807,1.543058,1.707615,...,2872.730796,101639.00,41.0,82.74,89.7,4.53,3.61,1.19,3.950000,8628600
9298,LYCOMING,WILLIAMSPORT,17701.0,2500 FEDERAL AVE,PA,769,41.235202,-77.063007,1.399964,0.202757,...,2872.730796,38372.09,13.0,57.33,59.6,6.80,3.50,5.16,5.263617,7608365
9312,LYCOMING,WILLIAMSPORT,17701.0,2500 FEDERAL AVE,PA,888,41.235202,-77.063007,1.399964,0.202757,...,2872.730796,38372.09,13.0,57.33,59.6,6.80,3.50,5.16,5.263617,7608365
9322,LYCOMING,WILLIAMSPORT,17701.0,2500 FEDERAL AVE,PA,670,41.235202,-77.063007,1.399964,0.202757,...,2872.730796,38372.09,13.0,57.33,59.6,6.80,3.50,5.16,5.263617,7608365

In [186]:
#from sklearn.preprocessing import OrdinalEncoder

import category_encoders as ce
ordinal_cols_mapping = [{
    "col":'time',    
    "mapping": [
        ('2015.25','1'), 
        ('2015.50','2'), 
        ('2015.75','3'), 
        ('2016.25','4'), 
    ]},
]
tt_data = train_data[['time','rent']]
tt_data.time = tt_data.time.astype(str)
print(tt_data.time.describe())
encoder = ce.OrdinalEncoder(mapping = ordinal_cols_mapping, 
                         return_df = True)  
df_train = encoder.fit_transform(tt_data)
#df_train.time = df_train.time.astype('int')
df_train['time_old'] = tt_data['time']
df_train

count       18203
unique          4
top       2015.25
freq         6769
Name: time, dtype: object

C:\Users\padmaraj.bhat\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

       time  rent time_old
0         4  2400  2016.25
1         4   995  2016.25
2         3  1740  2015.75
3         4   675  2016.25
4         4  1300  2016.25
5         3  1025  2015.75
6         3  1025  2015.75
7         3  1025  2015.75
8         3   795  2015.75
9         4   925  2016.25
10        3  1355  2015.75
11        4  1595  2016.25
12        4  1600  2016.25
13        3  1885  2015.75
14        3  2000  2015.75
15        3   595  2015.75
16        4   745  2016.25
17        3   995  2015.75
18        3   895  2015.75
19        4  1885  2016.25
20        4   889  2016.25
21        4  1000  2016.25
22        4  1700  2016.25
23        4  1025  2016.25
24        4  1875  2016.25
25        4  1550  2016.25
26        4   625  2016.25
27        4  1195  2016.25
28        3  1195  2015.75
29        0   750   2015.5
...     ...   ...      ...
18173     3  1250  2015.75
18174     3  1350  2015.75
18175     3  1950  2015.75
18176     1  1300  2015.25
18177     1  1080  2015.25
18178     1  2200  2015.25
18179     4   895  2016.25
18180     0  1850   2015.5
18181     0   850   2015.5
18182     0  1400   2015.5
18183     4  1650  2016.25
18184     3  1650  2015.75
18185     3   525  2015.75
18186     3  1300  2015.75
18187     1  1550  2015.25
18188     1  1135  2015.25
18189     1   950  2015.25
18190     4  2200  2016.25
18191     1  1650  2015.25
18192     1   785  2015.25
18193     3   795  2015.75
18194     0   995   2015.5
18195     3   995  2015.75
18196     1   750  2015.25
18197     0  1600   2015.5
18198     1  1600  2015.25
18199     1   700  2015.25
18200     0   675   2015.5
18201     4   900  2016.25
18202     1  1250  2015.25

[18203 rows x 3 columns]

In [187]:
df_train[df_train['time']==2]

Empty DataFrame
Columns: [time, rent, time_old]
Index: []

# 3. Cleaning

##### https://datascience.stackexchange.com/questions/13567/ways-to-deal-with-longitude-latitude-feature
Lat long coordinates have a problem that they are 2 features that represent a three dimensional space. This means that the long coordinate goes all around, which means the two most extreme values are actually very close together. I've dealt with this problem a few times and what I do in this case is map them to x, y and z coordinates. This means close points in these 3 dimensions are also close in reality. Depending on the use case you can disregard the changes in height and map them to a perfect sphere. These features can then be standardized properly.

To clarify (summarised from the comments):

##### x = cos(lat) x cos(lon)
##### y = cos(lat) x sin(lon), 
##### z = sin(lat) 

##### we can map longitude and lattitude to a address [http://www.geonames.org/maps/us-reverse-geocoder.html#findNearestAddress]
##### vice versa can be done at https://www.latlong.net/
##### Therefore, we can ignore the features: Zipcode, county, address

In [215]:
train_data_cleansed = train_data_before_clean.drop(['zipcode','county','address','city','state'],axis=1)
print(train_data_cleansed.shape)
train_data_cleansed.info()

(18203, 35)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18203 entries, 0 to 18202
Data columns (total 35 columns):
rent                     18203 non-null int64
latitude                 18203 non-null float64
longitude                18203 non-null float64
cemetery_dist_miles      18203 non-null float64
nationalhighway_miles    18203 non-null float64
railline_miles           18203 non-null float64
starbucks_miles          18203 non-null float64
walmart_miles            18203 non-null float64
hospital_miles           18203 non-null float64
physician_dist_miles     18203 non-null float64
dentist_dist_miles       18203 non-null float64
opt_dist_miles           18203 non-null float64
vet_dist_miles           18203 non-null float64
farmers_miles            18203 non-null float64
time                     18203 non-null float64
bed                      18203 non-null int64
bath                     18203 non-null int64
halfbath                 18203 non-null int64
sqft                     18203 non-null int64
property_type            15515 non-null object
garage                   18203 non-null int64
yearbuilt                18203 non-null int64
pool                     18203 non-null int64
fireplace                18203 non-null int64
patio                    18203 non-null int64
lotsize                  18203 non-null float64
Census_MedianIncome      18203 non-null float64
CollegeGrads             18203 non-null float64
WhiteCollar              18203 non-null float64
Schools                  18203 non-null float64
Unemployment             18203 non-null float64
EmploymentDiversity      18203 non-null float64
Census_Vacancy           18203 non-null float64
Crime_Rate               18203 non-null float64
HomePrice                18203 non-null int64
dtypes: float64(23), int64(11), object(1)
memory usage: 4.9+ MB

In [216]:
'''x = cos(lat) x cos(lon)
y = cos(lat) x sin(lon),
z = sin(lat)'''
import math

train_data_cleansed['x'] = train_data_cleansed.latitude.apply(lambda x: math.cos(x)) * \
                                                        train_data_cleansed.longitude.apply(lambda x : math.cos(x))
train_data_cleansed['y'] = train_data_cleansed.latitude.apply(lambda x: math.cos(x)) * \
                                                        train_data_cleansed.longitude.apply(lambda x : math.sin(x))
train_data_cleansed['z'] = train_data_cleansed.latitude.apply(lambda x: math.sin(x))
train_data_cleansed = train_data_cleansed.drop(['longitude','latitude'],axis=1)

train_data_cleansed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18203 entries, 0 to 18202
Data columns (total 36 columns):
rent                     18203 non-null int64
cemetery_dist_miles      18203 non-null float64
nationalhighway_miles    18203 non-null float64
railline_miles           18203 non-null float64
starbucks_miles          18203 non-null float64
walmart_miles            18203 non-null float64
hospital_miles           18203 non-null float64
physician_dist_miles     18203 non-null float64
dentist_dist_miles       18203 non-null float64
opt_dist_miles           18203 non-null float64
vet_dist_miles           18203 non-null float64
farmers_miles            18203 non-null float64
time                     18203 non-null float64
bed                      18203 non-null int64
bath                     18203 non-null int64
halfbath                 18203 non-null int64
sqft                     18203 non-null int64
property_type            15515 non-null object
garage                   18203 non-null int64
yearbuilt                18203 non-null int64
pool                     18203 non-null int64
fireplace                18203 non-null int64
patio                    18203 non-null int64
lotsize                  18203 non-null float64
Census_MedianIncome      18203 non-null float64
CollegeGrads             18203 non-null float64
WhiteCollar              18203 non-null float64
Schools                  18203 non-null float64
Unemployment             18203 non-null float64
EmploymentDiversity      18203 non-null float64
Census_Vacancy           18203 non-null float64
Crime_Rate               18203 non-null float64
HomePrice                18203 non-null int64
x                        18203 non-null float64
y                        18203 non-null float64
z                        18203 non-null float64
dtypes: float64(24), int64(11), object(1)
memory usage: 5.0+ MB

##### Does Test Data has mixture of 'yearbuilt' ?
##### Ans: Yes

In [191]:
test_data = pd.read_csv(r'C:\Users\padmaraj.bhat\OneDrive - Accenture\Downloads\TestData_PA.csv')
print(test_data['yearbuilt'].unique())

[1985 2006 1960 2012 1900 1931 1903 2015 1925 1860 1963 1984 2008 2011
 2005 2007 1970 1962 1930 1955 1950 1915 1910 1880 1926 2003 1972 1920
 1890 1928 1800 1923 2014 2002 1986 2013 1969 1958 1918 1901 2000 1948
 1896 1902 1906 1899 1935 1940 1895 1946 1957 2009 1975 1951 1933 2001
 1983 1968 1980 1954 1997 1907 1978 1961 1945 1947 1924 1879 1982 1929
 1898 1956 1864 1979 1922 2016 1921 1942 1989 1936 1941 2010 1965 1840
 1966 1883 1937 1871 1893 1953 1967 1952 1889 1877 1976 1949 1974 1919
 1939 1891 1908 1927 1995 1820 2004 1875 1815 1994 1850 1905 1802 1988
 1998 1992 1977 1868 1996 1990 1981 1987 1991 1885 1959 1973 1859 1999
 1914 1909 1851 1865 1971 1943 1834 1993 1870 1964 1912 1904 1830 1884
 1847 1917 1888 1944 1916 1932 1911 1938 1881 1887 1832 1801 1869 1872
 1874 1873 1882 1913 1934 1853 1855 1894 1818 1886 1845 1849 1809 1805
 1867 1857]

In [196]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18203 entries, 0 to 18202
Data columns (total 40 columns):
county                   18177 non-null object
city                     18203 non-null object
zipcode                  18177 non-null float64
address                  17496 non-null object
state                    18203 non-null object
rent                     18203 non-null int64
latitude                 18203 non-null float64
longitude                18203 non-null float64
cemetery_dist_miles      18203 non-null float64
nationalhighway_miles    18203 non-null float64
railline_miles           18203 non-null float64
starbucks_miles          18203 non-null float64
walmart_miles            18203 non-null float64
hospital_miles           18203 non-null float64
physician_dist_miles     18203 non-null float64
dentist_dist_miles       18203 non-null float64
opt_dist_miles           18203 non-null float64
vet_dist_miles           18203 non-null float64
farmers_miles            18203 non-null float64
time                     18203 non-null float64
bed                      18203 non-null int64
bath                     18203 non-null int64
halfbath                 18203 non-null int64
sqft                     18203 non-null int64
property_type            15515 non-null object
garage                   18203 non-null int64
yearbuilt                18203 non-null int64
pool                     18203 non-null int64
fireplace                18203 non-null int64
patio                    18203 non-null int64
lotsize                  18203 non-null float64
Census_MedianIncome      18203 non-null float64
CollegeGrads             18203 non-null float64
WhiteCollar              18203 non-null float64
Schools                  18203 non-null float64
Unemployment             18203 non-null float64
EmploymentDiversity      18203 non-null float64
Census_Vacancy           18203 non-null float64
Crime_Rate               18203 non-null float64
HomePrice                18203 non-null int64
dtypes: float64(24), int64(11), object(5)
memory usage: 5.6+ MB